
body        {
             background-color: #FFFFFF; 
             color: #720F61;
             font-family: Verdana, Arial, sans-serif;
			}



a:link		{color: #B886B0; text-decoration: none;}

a:active	{text-decoration: underline;}

a:hover	    {text-decoration: underline;}

#nav {
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 10px;
	margin: 0px;
	width: 700px;
	height: 50px;
	z-index: 1;
	opacity: 1;
	background-color: #FFFFFF;     
}


#content {
    margin-top: 70px;
    z-index: 0;
    position: absolute;
} 

#cats {
	margin-bottom: 20px;
}

/*
.objectlist {
	width: 400px;
}
*/

.objectlist img {
	 float: right;
	 padding: 3px 3px 3px 7px;
}

.login {
	float: right;
}

.objectlist tr:nth-child(odd), .memberlist tr:nth-child(odd) {
    background-color: lavender;
}

.objectlist tr.unavailable {
	background-color: lightpink;
}

form label {
	display:block;
	float:left;
	width:150px;
	}
	
form input {
	width: 170px;
}

.errorclass {
	background-color: orangered;
}

#feelist td, #feelist th, #rentallist td, #rentallist th,  #rentedlist td, #rentedlist th {
	padding: 3px 10px 3px 10px;
	border: 1px solid black;
	max-width: 400px;
}

.valid {
	color: black;
	background-color: lightgreen;
}

.tempvalid {
	color: black;
	background-color: orange;
}

.invalid {
	color: black;
	background-color: orangered;
}

.larrows {
	float: left;
	font-size: 220%;
}

.rarrows {
	float: right;
	font-size: 220%;
}

#paging {
	text-align: center;
	max-width: 400px;
	margin-left: auto;
    margin-right: auto;
}